@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Vantage.Defaults.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VantagePoint.Vantage.DefaultsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>