@{
    ViewData["Title"] = "Customizable Summaries";
}

@section Head {
}

@section ContentHeader {
    <h1>@ViewData["Title"]<small></small></h1>
}

<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>CustomSummaryMixin lets user to click on a column footer and change summary type to Avg, Min, Max or Sum.</p>
    <p>Default summary type is determined by column data type and can be changed by adding a [SummaryType] attribute to the related property in Columns.cs</p>
    <p>Summary customization also works along with draggable grouping mixin, so group based aggregates are also available.</p>
    <p>Please note that summaries are only enabled for numeric columns.</p>
    <p style="text-align: right;"><b>Source Files:</b> 
        @Html.PremiumSourceFile("Index.cshtml"), 
        @Html.PremiumSourceFile("CustomizableSummariesGrid.ts"),
        @{await Html.RenderPartialAsync("~/Modules/AdvancedSamples/PremiumSourceWarning.cshtml");}
    </p>
</div>

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VantagePoint.AdvancedSamples.CustomizableSummariesGrid($('#GridDiv'));
        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>